<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsync" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nonnb-w7.dvt.co.za/BizTalkWCF.Orchs/BizTalkWCF_AddSuffixService_RcvSuffixService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="BTSService.BizTalkWCF_AddSuffixService_RcvSuffixService"
                name="BasicHttpBinding_ITwoWayAsync" />
        </client>
    </system.serviceModel>
</configuration>